*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
**/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.kotlin/
*.jks
*.keystore
secrets/
.DS_Store
*.swp
*~
